In [1]:
#from ib_insync import *
import numpy as np
import pandas as pd
from scipy import stats
import matplotlib.pyplot as plt
import statsmodels
import statsmodels.api as sm
from statsmodels.tsa.stattools import coint, adfuller
from statsmodels import regression,stats
import math
import datetime 
import statsmodels.formula.api as smf 
from datetime import date, time, datetime, timedelta
from collections import deque
from os import listdir
from os.path import isfile, join
from collections import defaultdict
from operator import itemgetter

In [2]:
df_rate = pd.read_csv("interest_rates.csv", index_col = 0).rename(columns = {"Date":'date'})
df_vix = pd.read_csv('vix.csv', index_col = 0).loc[:,['date','close']].rename(columns = {"close":'vix'})

In [3]:
df_vix

            date    vix
0     2011-04-25  15.72
1     2011-04-26  15.54
2     2011-04-27  15.30
3     2011-04-28  14.87
4     2011-04-29  14.92
...          ...    ...
2507  2021-04-13  16.65
2508  2021-04-14  16.99
2509  2021-04-15  16.57
2510  2021-04-16  16.25
2511  2021-04-19  17.29

[2512 rows x 2 columns]

In [4]:
df = pd.merge(df_rate, df_vix, how = 'left').iloc[15:,].reset_index().drop(columns = 'index').dropna()

In [5]:
df_recent = df.iloc[-14:, :]

In [6]:
df_recent

            date  rates_Aus  rates_US  rates_Japan  rates_HK    vix
1915  2021-03-30        0.1       0.0         -0.1      0.86  19.61
1916  2021-03-31        0.1       0.0         -0.1      0.86  19.40
1917  2021-04-01        0.1       0.0         -0.1      0.86  17.33
1921  2021-04-05        0.1       0.0         -0.1      0.86  17.91
1922  2021-04-06        0.1       0.0         -0.1      0.86  18.12
1923  2021-04-07        0.1       0.0         -0.1      0.86  17.16
1924  2021-04-08        0.1       0.0         -0.1      0.86  16.95
1925  2021-04-09        0.1       0.0         -0.1      0.86  16.69
1928  2021-04-12        0.1       0.0         -0.1      0.86  16.91
1929  2021-04-13        0.1       0.0         -0.1      0.86  16.65
1930  2021-04-14        0.1       0.0         -0.1      0.86  16.99
1931  2021-04-15        0.1       0.0         -0.1      0.86  16.57
1932  2021-04-16        0.1       0.0         -0.1      0.86  16.25
1935  2021-04-19        0.1       0.0         -0.1      0.86  17.29

In [5]:
df_recent = df.iloc[-14:, :]
np.array(df_recent.mean())
recent_measure =np.array(df_recent.mean())
df_dist = df.loc[:,['date']]
df_dist['dist'] = float('inf')

In [6]:
df_recent.mean()

rates_HK        0.100000
rates_US        0.000000
rates_Japan    -0.100000
rates_hk        0.860000
vix            17.416429
dtype: float64

In [7]:
def distance(arr1, arr2):
    return np.linalg.norm(arr1 - arr2)

for idx, row in df.iterrows():
    if idx < len(df) - 14:
        df_sub = df.iloc[idx: idx + 1, :]
        v = np.array(df_sub.mean())
        
        dist = distance(v, recent_measure)
 
        df_dist.at[idx, 'dist'] = dist

In [8]:
df_dist

            date      dist
3     2016-01-04  7.813679
4     2016-01-05  9.784233
5     2016-01-06  7.146898
6     2016-01-07  5.406772
7     2016-01-08  8.036811
...          ...       ...
1929  2021-04-13       inf
1930  2021-04-14       inf
1931  2021-04-15       inf
1932  2021-04-16       inf
1935  2021-04-19       inf

[1330 rows x 2 columns]

In [9]:
min_dist = float('inf')
start_date = ""
for idx, row in df_dist.iterrows():
    date_time_obj = datetime.strptime(row['date'], '%Y-%m-%d')
    if date_time_obj  < datetime(2020, 4, 2):
        df_sub = df_dist.iloc[idx: idx +252, : ]
        avg_dist = df_sub['dist'].mean()
        if avg_dist < min_dist:
            min_dist, start_date = avg_dist, row['date']

In [10]:
min_dist

4.543500731386378

In [11]:
start_date

'2017-04-07'